body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: #22254b;
  font-family: "Poppins", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.root {
  display: flex;
  flex-direction: column;
}

header {
  background-color: #373b69;
  display: flex;
  padding: 1rem;
  justify-content: flex-end;
}

.search {
  background-color: transparent;
  border: 2px solid #22254b;
  border-radius: 50px;
  color: white;
  font-family: infinite;
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
}

.search:focus {
  outline: 0;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
}

.movie {
  margin: 1rem;
  width: 300px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #373b69;
  border-radius: 3px;
  position: relative;
}

.movie img {
  max-width: 100%;
}

.movie-info {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}

.movie-info h3 {
  margin: 0;
}

.movie-over {
  position: absolute;
  color: #22254b;
  padding: 1rem;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  transform: translateY(102%);
  max-height: 100%;
  overflow: auto;
  transition: transform 0.3s ease-in-out;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.1);
}

.movie:hover .movie-over {
  transform: translateY(0%);
}

.tag {
  background-color: #22254b;
  padding: 0.5rem;
  font-size: bold;
  border-radius: 5px;
}

.tag.green {
  color: green;
}
.tag.orange {
  color: orange;
}
.tag.red {
  color: red;
}
